div{
    display: inline-block;
}
#middle{
    background-color : #81b29a;
}
#static #middle{
    position:static;
}
#relative #middle{
    position: relative;
    top: 100px;
}
#absolute #middle{
    position: absolute;
    top: 50px
}