section{
    background-color: #6d6975;
    width: 400px;
    height: 800px;
}
/*as height as the parent section*/
div{
    background-color: #E5989b;
    width: 70%;
    height: 20%;
}
h1{
    font-size: 40px;
    border: 1px solid black;
    line-height: 200%;

}
h2{
    font-size: 5em;
    margin-left: 1em;
}
h3{
    font-size:1.5em;
}
p{
    font-size : 0.8em;
}
article{
    font-size:20px;
}
button{
    font-size: 5px;
    padding: 0 30px;
}